body{
    background-color: black;
   
}
.container{
    margin-top: 15rem;
    margin-left: 41rem; 
    height: 25rem;
    width: 32rem;
    
    background-color: white; 
} 
.header{
    height: 5rem;
}
.header h1{
    width: 10;
    justify-content: start;
    padding-top: 2rem;
    padding-left: 1rem;
    font-style: italic;
}

.header img{
    height: 4rem;
    float: right;
    justify-content: end;
    padding-right: 1rem;
    padding-top: 1rem;
}
.body .text{
    height: 13rem;
    width: 15rem; 
    float: left; 
    padding-top: 1rem;  
    padding-left: 1rem;
    font-size: large;
    font-style: italic;

}

.body .input{
    width: 15rem;
    height: 13rem;
    float:right;
    padding-top: 2rem; 
}
input{
    border-style: outset;
    font-style: italic;
    font-size: medium ; 
}
    
button{
    margin-left: 12rem;
    font-style: italic;
    height: 2rem;
    background-color: gray;
}